doctype html

html
  head
    meta(charset='UTF-8')
    title Work Log
    style.
      html, body { width: 656px; min-height: 445px; }

  body
    #root

    script(src=channel == 'dev' ? 'http://localhost:3003/js/popup.js' : '/popup.js')
